---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
      ::-webkit-scrollbar {width: 16px;}
      ::-webkit-scrollbar-track {background-color: #AEA79F; border-radius: 4px;}
      ::-webkit-scrollbar-thumb {background-color: #E95420; border-radius: 4px;}
      ::-webkit-scrollbar-thumb:hover {background-color: #EF7F58;}
      ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
        width: 12px;
        height: 12px;
        background: transparent;
      }
    </style>
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
